{% extends 'base.html' %}

{% block title %}Nueva Orden - JD Textiles{% endblock %}
{% block header %}Recepción: Ingreso de Work Order{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow-md p-8 max-w-2xl mx-auto">
    <h3 class="text-xl font-bold text-gray-800 mb-6 border-b pb-2">📋 Datos de la Orden (USA)</h3>
    
    <!-- El enctype es vital para que Django pueda recibir la imagen del layout -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!-- Medida de seguridad obligatoria de Django -->
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for field in form %}
                <!-- Si es el layout o el cliente, que ocupe las dos columnas, si no, solo una -->
                <div class="{% if field.name == 'cliente' or field.name == 'layout_img' %}md:col-span-2{% endif %}">
                    <label class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        
        <div class="mt-8 flex justify-end">
            <a href="/" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-4 transition">
                Cancelar
            </a>
            <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded shadow-md transition">
                📥 Guardar y Enviar a Planta
            </button>
        </div>
    </form>
</div>
{% endblock %}